<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="content-section">
			<section class="container">
				<br />
				<h1>User Home</h1>

				<div class="row row-cols-auto p-1 gy-3">
					<div class="col-sm-4">
						<div class="card h-100 m-2">
							<a href="account/my-orders/"
								><img
									src="/imgs/document.png"
									class="card-img-top p-2 img-thumbnail"
									alt="Button image"
									width="400"
									height="400"
							/></a>
							<div class="card-body p-1">
								<h5 class="card-title text-center">My Orders</h5>
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<div class="card h-100 m-2">
							<a href="account/all-orders/"
								><img
									src="/imgs/document.png"
									class="card-img-top p-2 img-thumbnail"
									alt="Button image"
									width="400"
									height="400"
							/></a>
							<div class="card-body p-1">
								<h5 class="card-title text-center">Admin View All Orders</h5>
							</div>
						</div>
					</div>
				</div>

				<br /><br /><br />
				<p>
					Icons made by
					<a href="https://creativemarket.com/eucalyp" title="Eucalyp"
						>Eucalyp</a
					>
					from
					<a href="https://www.flaticon.com/" title="Flaticon"
						>www.flaticon.com</a
					>
				</p>
			</section>
			<%- include("./partials/footer"); %>
		</div>
	</body>
	<script>
		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"
		}
	</script>
</html>
