<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="content-section">
			<br><br>
			<section class="container d-flex flex-column min-vh-100 flex-grow-1">
				<div id="products-container" class="row row-cols-auto p-1 gy-3">
					<!-- Dynamic insertion -->
				</div>
			</section>
			<br><br>
		</div>
		
		<%- include("./partials/footer"); %>
	</body>
	<script>
		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout/"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"
		}

		fetch("http://localhost:8000/api/products/?format=json").then(resp => resp.json()).then(data => {
			let container = document.getElementById("products-container")
			data.forEach(product => {
				let cardPad = document.createElement("div")
				cardPad.className = "col-sm-3"
				
				let card = document.createElement("div")
				card.className = "card h-100 m-2 fade-in"
				cardPad.appendChild(card)

				let cardLink = document.createElement("a")
				cardLink.href = `/single-product/${product["productID"]}`
				let cardImg = document.createElement("img")
				cardImg.src = product["picture"]
				cardImg.className = "card-img-top p-2 card-img-style"
				cardImg.alt = "Product Image"
				cardImg.width = "400"
				cardImg.height = "400"
				cardLink.appendChild(cardImg)
				card.appendChild(cardLink)

				let cardBody = document.createElement("div")
				cardBody.className = "card-body p-1"
				let cardTitle = document.createElement("h5")
				let cardText = document.createElement("p")
				cardTitle.className = "card-title"
				cardTitle.innerHTML = product["productName"]
				cardText.className = "card-text"
				cardText.innerHTML = `€${product["price"]}`
				cardBody.appendChild(cardTitle)
				cardBody.appendChild(cardText)
				card.appendChild(cardBody)

				container.appendChild(cardPad)
			})
		})
	</script>
</html>