<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="content-section">
			<section class="container-fluid d-flex flex-column min-vh-100 flex-grow-1">
				<br>
				<h2>Order Overview</h2>

				<table class="table table-light table-striped">
					<thead>
						<tr>
							<th class="col">Order Number</th>
							<th class="col">Order Date</th>
							<th class="col">Username</th>
							<th class="col">Order Total (€)</th>
							<th class="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						<!-- --- Dynamic insertion --- -->
					</tbody>
				</table>
				<a href="..">Back to user home</a>
			</section>
			<br>
			<%- include("./partials/footer"); %>
		</div>
	</body>

	<script>
		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout/"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"

			fetch("http://localhost:8000/account/admin-view-orders/?format=json", {
				method: "GET",
				headers: {
					"Content-Type": "application/json",
					"Accept": "application/json",
					"Authorization": sessionStorage.getItem("Token")
				}
			})
			.then(resp => resp.json())
			.then(data => {
				if (data["Response"] == 0) {
					window.location.replace("/error")
					// Send to dummy link to raise 404
				}

				let tableBody = document.getElementById("tableBody")
				data["orders"].forEach(order => {
					let row = document.createElement("tr")

					let orderID = document.createElement("td")
					orderID.innerHTML = order["order"]["pk"]
					row.appendChild(orderID)

					let orderDate = document.createElement("td")
					orderDate.innerHTML = new Date(order["order"]["fields"]["date"]).toUTCString()
					row.appendChild(orderDate)

					let orderUser = document.createElement("td")
					orderUser.innerHTML = order["username"]
					row.appendChild(orderUser)

					let orderTotal = document.createElement("td")
					orderTotal.innerHTML = order["order"]["fields"]["total"]
					row.appendChild(orderTotal)

					let orderMoreInfo = document.createElement("td")
					let orderInfoLink = document.createElement("a")
					orderInfoLink.href = `order-info/${order["order"]["pk"]}`
					orderInfoLink.innerHTML = "More info"
					orderMoreInfo.appendChild(orderInfoLink)
					row.appendChild(orderMoreInfo)

					tableBody.appendChild(row)
				})
			})
		} else {
			window.location.replace("/account/login/")
		}
	</script>
</html>
