<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="content-section">
			<br><br>
			<section class="container">
				<div class="row justify-content-md-center">
					<div id="carouselExampleDark" class="col col-lg-6 carousel carousel-dark slide card text-center fade-in" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
							<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
						</div>
						<div class="carousel-inner">
							<div class="carousel-item active" data-bs-interval="10000">
								<a href="/all-products"><img src="/imgs/water_rgb_build.jpg" class="d-block w-100 slide-image-style" alt="Image of RGB watercooled PC"></a>
								<div class="carousel-caption d-none d-md-block text-white">
									<h2>CPUs</h2>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="2000">
								<a href="/all-products"><img src="/imgs/rgb_case.jpg" class="d-block w-100 slide-image-style" alt="Image of PC case with RGB fans"></a>
								<div class="carousel-caption d-none d-md-block text-white">
									<h2>Graphics Cards</h2>
								</div>
							</div>
							<div class="carousel-item">
								<a href="/all-products"><img src="/imgs/msi_rgb.jpg" class="d-block w-100 slide-image-style" alt="MSI RGB PC desk setup"></a>
								<div class="carousel-caption d-none d-md-block text-white">
									<h2>Peripherals</h2>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
			  </div>
			</section>
			<br><br>
		</div>
		<%- include("./partials/footer"); %>
	</body>

	<script>
		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"
		}
	</script>
</html>
