<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>

		<div class="content-section">
			<section class="container d-flex flex-column min-vh-100 flex-grow-1">
				<div class="container">
					<div class="col-6">
						<h3>Sign in</h3>
						<form id="login-form" action="." method="POST">
							<div class="form-group">
								<label for="username">Username</label>
								<input
									id="form-username"
									name="username"
									class="form-control"
									type="text"
									placeholder="Your Username"
									required
								/>
							</div>

							<div class="form-group">
								<label for="password">Password</label>
								<input
									id="form-password"
									name="password"
									class="form-control"
									type="password"
									placeholder="Your password"
									required
								/>
							</div>
							<br>
							<input type="submit" value="Login" class="btn btn-primary"/>
						</form>
					</div>
				</div>
				<br>
			</section>
			<%- include("./partials/footer"); %>
		</div>
	</body>

	<script>
		let loginform = document.getElementById("login-form");
		loginform.addEventListener(
			"submit",
			(event) => {
				event.preventDefault();

				let user = document.getElementById("form-username").value;
				let pass = document.getElementById("form-password").value;
				fetch("http://localhost:8000/token/", {
					method: "POST",
					headers: {
						"Accept": "application/json",
						"Content-Type": "application/json"
					},
					body: JSON.stringify({"username": user, "password": pass})
				})
				.then((response) => response.json())
				.then(data => {
					if (data["token"] !== undefined) {
						sessionStorage.setItem("Token", data["token"])
						window.location.replace("/")
					} else {
						alert("Invalid login")
					}
				});
			},
			true
		);
	</script>
</html>
