<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="content-section">
			<section class="container">
				<br />
				<h2>Order Overview</h2>

				<table class="table table-light table-striped">
					<thead>
						<tr>
							<th class="col">Order Number</th>
							<th class="col">Order Date</th>
							<th class="col">Username</th>
							<th class="col">Order Total (€)</th>
							<th class="col">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<!-- <td id=orderID>{{ order.orderID }}</td>
							<td>{{ order.date }}</td>
							<td>{{ order.userID }}</td>
							<td>{{ order.total }}</td>
							<td><a href="order-info/{{ order.orderID }}">More info</a></td> -->
						</tr>
					</tbody>
				</table>
				<a href="..">Back to user home</a>
			</section>
			<br />
			<%- include("./partials/footer"); %>
		</div>
	</body>

	<script>
		if (sessionStorage.getItem("Token") != null) {
			console.log(sessionStorage.getItem("Token"));
			fetch("http://localhost:8000/account/my-orders/?format=json", {
				method: "GET",
				headers: {
					"Content-Type": "application/json",
					Accept: "application/json",
					Authorization: sessionStorage.getItem("Token"),
				},
			})
				.then((resp) => {
					if (!resp.ok) {
						throw new Error("Fetch error");
					} else {
						return resp.json();
					}
				})
				.then((data) => console.log(data));
		}

		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"
		}
	</script>
</html>
