<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>

		<div class="content-section">
			<section class="container">
				<br>
				<div class="container">
					<div class="col-6">
						<h3>Sign Up</h3>
						<form id="register-form" method="POST" action=".">
							<label for="username" class="requiredField">Username<span class="asteriskField">*</span></label>
							<input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus class="textinput textInput form-control" required id="username">

							<label for="first_name" class="requiredField">First Name<span class="asteriskField">*</span></label>
							<input type="text" name="first_name" maxlength="50" class="textinput textInput form-control" required id="first_name">

							<label for="last_name" class="requiredField">Last Name<span class="asteriskField">*</span></label>
							<input type="text" name="last_name" maxlength="50" class="textinput textInput form-control" required id="last_name">

							<label for="email" class="requiredField">Email<span class="asteriskField">*</span></label>
							<input type="email" name="email" maxlength="254" class="emailinput form-control" required id="email">

							<label for="contactNum" class="requiredField">Contact Number<span class="asteriskField">*</span></label>
							<input type="number" name="contactNum" class="numberinput form-control" required id="contactNum">

							<label for="password1" class="requiredField">Password<span class="asteriskField">*</span></label>
							<input type="password" name="password1" autocomplete="new-password" class="textinput textInput form-control" required id="password1">

							<label for="password2" class="requiredField">Password confirmation<span class="asteriskField">*</span></label>
							<input type="password" name="password2" autocomplete="new-password" class="textinput textInput form-control" required id="password2">

							<br>
							<button id="register-btn" type="submit" class="btn btn-primary">Register</button>
						</form>
					</div>
				</div>
				<br>
			</section>
			<%- include("./partials/footer"); %>
		</div>
	</body>

	<script>
		let registerForm = document.getElementById("register-form");
		registerForm.addEventListener(
			"submit", 
			(event) => {
				event.preventDefault();

				let username = document.getElementById("username").value;
				let first_name = document.getElementById("first_name").value;
				let last_name = document.getElementById("last_name").value;
				let email = document.getElementById("email").value;
				let contactNum = document.getElementById("contactNum").value;
				let password1 = document.getElementById("password1").value;
				let password2 = document.getElementById("password2").value;

				let payload = new FormData();
				payload.append("username", username)
				payload.append("first_name", first_name)
				payload.append("last_name", last_name)
				payload.append("email", email)
				payload.append("contactNum", contactNum)
				payload.append("password1", password1)
				payload.append("password2", password2)

				fetch("http://localhost:8000/account/register/?format=json", {
					method: "POST",
					body: payload
				})
				.then(resp => {
					if (!resp.ok) {
						throw new Error("Fetch error");
					} else {
						return resp.json()
					}
				})
				.then(data => {
					if (data["errors"] != undefined) {
						alert(data["errors"][0])
					} else {
						sessionStorage.setItem("Token", data["token"])
						window.location.replace("/")
					}
				})
				.catch(stder => {
					alert("Registration failed")
				})

			},
			true
		);

		if (sessionStorage.getItem("Token") != null || sessionStorage.getItem("Token") != undefined) {
			let log = document.getElementById("login-logout")
			log.innerHTML = "Logout"
			log.href = "/account/logout/"

			let ac = document.getElementById("account-register")
			ac.innerHTML = "Account"
			ac.href = "/account/"
		}
	</script>
</html>
