<!DOCTYPE html>
<html>
	<head>
		<%- include("./partials/header"); %>
	</head>
	<body>
		<%- include("./partials/navbar"); %>
		<div class="container">
			<div class="col-6">
				<h3>Register a new user</h3>
				<form id="register-form" action="." method="POST">
					<div class="field">
						<label for="username">Username</label>
						<input
							id="form-username"
							name="username"
							type="text"
							placeholder="Your Username"
							required
						/>
					</div>

					<div class="field">
						<label for="firstname">First Name</label>
						<input id="form-firstname" name="first_name" type="text" required />
					</div>

					<div class="field">
						<label for="lastname">Last Name</label>
						<input
							id="form-lastname"
							name="last_name"
							type="text"
							placeholder="Doe"
							required
						/>
					</div>

					<div class="field">
						<label for="email">Email</label>
						<input id="form-email" name="email" type="text" required />
					</div>

					<div class="filed">
						<label for="contactnumber">Contact Number</label>
						<input
							id="form-number"
							name="contactNum"
							type="text"
							placeholder="i.e,. 083 XXX XXXX"
							required
						/>
					</div>

					<div class="field">
						<label for="password">Password</label>
						<input
							id="form-password"
							name="password"
							type="text"
							placeholder="Your Password"
							required
						/>
					</div>

					<div class="field">
						<label for="passwordconf">Password Confirmation</label>
						<input
							id="form-passwordconf"
							type="text"
							placeholder="Your Password"
							required
						/>
					</div>

					<input type="submit" value="Confirm" />
				</form>
			</div>
		</div>

		<%- include("./partials/footer"); %>
	</body>

	<script>
		let registerform = document.getElementById("register-form");
		registerform.addEventListener("submit", (event) => {
			event.preventDefault();

			let pass = document.getElementById("form-password").value;
			let passconf = document.getElementById("form-passwordconf").value;
			console.log(pass.length);

			if (pass != passconf || pass.length < 8) {
				alert("Password must be the same and have 8 or more characters!");
			} else {
				alert("Account created!");
				window.location.replace("/");
			}
		});
	</script>
</html>
