<footer class="footer bg-secondary p-2">
	<div class="container text-center">
		<span class="text-white">Copyright of PCWare™. <a href="mailto:help@pcware.com" style="text-decoration: none">Contact us</a></span>
	</div>
</footer>
