{% extends "base.html" %}

{% block title %}
    Admin Order Overview
{% endblock %}
{% block content %}
    <br>
    <h2>Admin Order Overview</h2>

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th class="col">Order Number</th>
                <th class="col">Order Date</th>
                <th class="col">Username</th>
                <th class="col">Order Total (€)</th>
                <th class="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.orderID }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.userID }}</td>
                    <td>{{ order.total }}</td>
                    <td><a href="order-info/{{ order.orderID }}">More info</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
