{% extends "base.html" %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <br>
    {% if Message is not None %}
        <p class="alert alert-info text-center" role="alert">{{ Message }}</p>
    {% endif %}

    <br>
    <div class="row row-cols-auto p-1 gy-3">
        {% for p in products %}
            <div class="col-sm-3">
                <div class="card h-100 m-2 fade-in">
                    <a href="/single-product/{{ p.productID }}"><img src="{{ p.picture.url }}" class="card-img-top p-2 card-img-style" alt="Product Image" width="400" height="400"></a>
                    <div class="card-body p-1">
                        <h5 class="card-title">{{ p.productName }}</h5>
                        <p class="card-text">€{{ p.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
