<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

    {% load static %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-style">
        <div class="container-fluid">
            <a class="navbar-brand text-white nav-brand-style" href="/">PCStore</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item nav-item-style">
                        <a class="nav-link text-white active" aria-current="page" href="/all-products">Browse</a>
                    </li>
                    <li class="nav-item dropdown nav-item-style">
                        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Components
                        </a>
                        <ul class="dropdown-menu drop-menu-style" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item drop-item-style" href="/all-products">CPU</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Graphics Cards</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Motherboards</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Power Supplies</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Storage</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Networking</a></li>
                            <li><a class="dropdown-item drop-item-style" href="/all-products">Audio</a></li>
                        </ul>
                    </li>
                    <li class="nav-item nav-item-style">
                        <a class="nav-link text-white active" aria-current="page" href="/all-products">Displays</a>
                    </li>
                    <li class="nav-item nav-item-style">
                        <a class="nav-link text-white active" href="/all-products">Peripherals</a>
                    </li>
                </ul>
            </div>

            {% if user.is_authenticated %}
                <a class="login-link" href="/logout">Logout</a>
                {% if user.isAdmin or user.is_superuser %}
                    <a class="login-link" href="/admin-home">Admin</a>
                {% endif %}
            {% else %}
                <a class="login-link" href="/login">Login</a>
                <a class="login-link" href="/register">Sign Up</a>
            {% endif %}
            <a class="login-link" href="/view-basket">View basket</a>

            {# Button for navbar expand #}
            <button class="navbar-toggler nav-toggler-style" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <section class="container content-section">
        {% block content %}

        {% endblock %}
    </section>
</body>
</html>
