{% extends "base.html" %}

{% block title %}
    Order Info
{% endblock %}

{% block content %}
    <br>
    <h2>Order Details</h2>

    <br><br>
    <h4>User Details</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col">Name</th>
                <th class="col">{{ order.userID.first_name }} {{ order.userID.last_name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Contact number</td>
                <td>{{ order.userID.contactNum }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ order.userID.email }}</td>
            </tr>
            <tr>
                <td>Shipping Address</td>
                <td>{{ order.addressID.line1 }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ order.addressID.line2 }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ order.addressID.line3 }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{ order.addressID.postcode }}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th class="col">Quantity</th>
                <th class="col">Product</th>
                <th class="col">Unit Price (€)</th>
                <th class="col">Total (€)</th>
            </tr>
        </thead>
        <tbody>
            {% for p in orderItems %}
                <tr>
                    <td>{{ p.quantity }}</td>
                    <td><a href="/single-product/{{ p.productID.productID }}">{{ p.productID.productName }}</a></td>
                    <td>{{ p.productID.price }}</td>
                    <td>{{ p.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>{{ order.total }}</td>
            </tr>
        </tfoot>
    </table>

    <a href="..">Back to orders</a>
{% endblock %}
