{% extends "base.html" %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <br>

    <div class="card mb-3" style="background-color: #d9d9d9">
        <div class="row g-0">
            <div class="col-md-5">
                <img class="img-thumbnail s-product-card-img-style" src="{{ product.picture.url }}" alt="Product image" width="200" height="200">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <p class="card-subtitle">{{ product.category.categoryName }}</p>
                    <br>
                    <p class="card-text">{{ product.productDetails }}</p>
                    <p class="card-text">Stock available: {{ product.stock }}</p>
                    <h4 class="card-text">€{{ product.price }}</h4>

                    <a href="/basket/add-cart/{{ product.productID }}" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
