{% extends "base.html" %}

{% block title %}
    Products
{% endblock %}
{% block content %}
    <p>
        Product name: {{ product.productName }}<br/>
        Description: {{ product.productDetails }}<br/>
        Price: {{ product.price }} {{ product.picture.url }}<br/>
        Category: {{ product.category.categoryName }}<br/>
        <img src="{{ product.picture.url }}">
    <p/>
    <a href="/add-cart/{{ product.productID }}">Buy for {{ product.price }}</a>
    <a href="/all-products">Back to shopping</a>
{% endblock %}
