
.nav-style {
    font-size: 140%;
    background-color: #333333;
}

.nav-brand-style {
    font-size: 150%;
}

.nav-item-style {
    font-size: 105%;
    border-radius: 5px;
    color: white;
}

.nav-item-style:hover {
    background-color: #1a1a1a;
    color: black;
    transition: 0.5s;
}

.drop-menu-style {
    background-color: #999999;
    padding: 5px;
}

.drop-item-style:hover {
    background-color: #cccccc;
}

.login-link {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.login-link:hover {
    background-color: #1a1a1a;
    color: white;
    transition: 0.5s;
}

.nav-toggler-style {
    background-color: #cccccc;
}

.content-section {
    font-size: 90%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #e6e6e6;
}

.slide-image-style {
    height: 350pt;
    width: 100%;
}

.card-img-style {
    height: 175pt;
    width: 100%;
}

.basket-card-img-style {
    height: 250pt;
    width: 100%;
}

.s-product-card-img-style {
    height: 100%;
    width: 100%;
}

footer {
   border: 5px solid grey;
   font-size: 85%;
   text-align: center;
   background-color: #cccccc;
   color: black;
}

.foot-content {
   margin: 0px 65px 0px 65px;
   padding: 8px;
}

.fade-in {
    animation: fadeIn ease 0.8s;
    -webkit-animation: fadeIn ease 0.8s;
    -moz-animation: fadeIn ease 0.8s;
    -o-animation: fadeIn ease 0.8s;
    -ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
